<div class="event">
  <div class="content">
    <%# @messages.each do |message| %>
      <div class="summary">
        <em><%= message.user.username %></em>: <%= message.body %>
      </div>
      <%# end %>
    </div>
  </div>
