<h2 class="ui center aligned medium icon header">
  <i class="teal circular power icon"></i>
  Log in to continue
</h2>
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <%= render "form" %>
      </div>
    </div>
    <div class="middle aligned column">
      <%= link_to(register_path) do %>
        <div class="ui green big button">
          <i class="signup icon"></i>
          Sign up
        </div>
      <% end %>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
